@media (max-width: 767px) {
  header .navbar-default .navbar-collapse, header .navbar-default .navbar-form {
    border-color: #e7e7e7;
    position: absolute;
    z-index: 111;
    background-color: #000;
    width: 100%;
    border-top: 0;
    left: 0;
  }
  header .nav-wrp, header .navbar-default {
    position: static;
  }
  .form-wrp .container {
    width: 100%;
  }
  .trip-details:first-of-type table {
    text-align: left;
  }
  .trip-details:first-of-type table thead {
    display: none;
  }
  .trip-details:first-of-type table tbody tr td {
    display: block;
  }
  .trip-details:first-of-type table tbody tr td:before {
    display: inline-block;
    width: 110px;
    font-weight: bold;
  }
  .trip-details:first-of-type table tbody tr td:first-child:before {
    content: "Trip Date: ";
  }
  .trip-details:first-of-type table tbody tr td:nth-child(2):before {
    content: "Time: ";
  }
  .trip-details:first-of-type table tbody tr td:nth-child(3):before {
    content: "From: ";
  }
  .trip-details:first-of-type table tbody tr td:nth-child(4):before {
    content: "To: ";
  }
  .trip-details:first-of-type table tbody tr td:nth-child(5):before {
    content: "Pickup point: ";
  }
  .trip-details:first-of-type table tbody tr td:nth-child(6):before {
    content: "Passpoint time: ";
  }
  .trip-details:first-of-type table tbody tr td:nth-child(7):before {
    content: "Seats available: ";
  }
  .trip-details:first-of-type table tbody tr td:last-child:before {
    content: "Organization: ";
  }
  .trip-details:last-of-type table {
    text-align: left;
  }
  .trip-details:last-of-type table thead {
    display: none;
  }
  .trip-details:last-of-type table tbody tr td {
    display: block;
  }
  .trip-details:last-of-type table tbody tr td:before {
    display: inline-block;
    width: 110px;
    font-weight: bold;
  }
  .trip-details:last-of-type table tbody tr td:first-child:before {
    content: "Trip owner: ";
  }
  .trip-details:last-of-type table tbody tr td:nth-child(2):before {
    content: "Email: ";
  }
  .trip-details:last-of-type table tbody tr td:nth-child(3):before {
    content: "Phone no: ";
  }
  .trip-create form .form-group input, .trip-create form .form-group select, .trip-create form .form-group label {
    width: 100%;
  }
  .success .container {
    width: 100%;
  }
  .react-datepicker__day-name, .react-datepicker__day {
    width: 5.7rem !important;
    line-height: 5.7rem !important;
  }
  .form-wrp img {
    height: 100vh;
    max-width: none;
    width: 100%;
  }
  button.btn-default, button.btn-default:hover, button.btn-default:focus, button.btn-default:active:hover {
    font-size: 12px;
  }
  button.btn-success, button.btn-success:hover, button.btn-success:focus, button.btn-success:active:hover {
    font-size: 12px;
  }
  button.btn-danger, button.btn-danger:hover, button.btn-danger:focus, button.btn-danger:active:hover {
    font-size: 12px;
  }
  .admin table thead {
    display: none;
  }
  .admin table{
    text-align: left;
  }
  .admin table tbody tr td:before {
    display: inline-block;
    width: 110px;
    font-weight: bold;
  }
  .admin table tbody tr:nth-child(even){
    background-color: #eeeeee;
  }
  .admin table tbody tr td {
    display: block;
  }
  .admin table tbody tr td:first-of-type:before {
    content: 'Username: ';
  }
  .admin table tbody tr td:nth-child(2):before {
    content: 'Email: ';
  }
  .admin table tbody tr td:nth-child(3):before {
    content: 'Phone no. ';
  }
  .admin table tbody tr td:nth-child(4):before {
    content: 'Organization: ';
  }
  .admin table tbody tr td:nth-child(5):before {
    content: 'Verification: ';
  }


  .joined-users table thead {
    display: none;
  }
  .joined-users table{
    text-align: left;
  }
  .joined-users table tbody tr td:before {
    display: inline-block;
    width: 110px;
    font-weight: bold;
  }
  .joined-users table tbody tr:nth-child(even){
    background-color: #eeeeee;
  }
  .joined-users table tbody tr td {
    display: block;
  }
  .joined-users table tbody tr td:first-of-type:before {
    content: 'Trip Date: ';
  }
  .joined-users table tbody tr td:nth-child(2):before {
    content: 'User Name: ';
  }
  .joined-users table tbody tr td:nth-child(3):before {
    content: 'Email: ';
  }
  .joined-users table tbody tr td:nth-child(4):before {
    content: 'Phone no. ';
  }
  .joined-users table tbody tr td:nth-child(5):before {
    content: 'Organization: ';
  }
  .joined-users table tbody tr td:nth-child(6):before {
    content: 'Accept/Reject User: ';
  }
}

@media (max-width: 470px) {
  .react-datepicker__day-name, .react-datepicker__day {
    width: 3.6rem !important;
    line-height: 3.6rem !important;
  }
}
